<header class="sticky-top shadow-sm bg-white">
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="/static/index.html" data-brand-home>
        <img src="/public/img/EMRlogo-small.png" alt="EMR 2023" height="48" class="me-2">
        <span class="fw-semibold">EMR 2023</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
          <li class="nav-item">
            <a class="nav-link" href="/static/index.html" data-nav-match="home">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="submissionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-nav-match="submission">Submission</a>
            <ul class="dropdown-menu" aria-labelledby="submissionDropdown">
              <li><a class="dropdown-item" href="/static/pages/submit-abstract.html" data-nav-match="submit-abstract">Submit Abstract</a></li>
              <li><a class="dropdown-item" href="/static/pages/awards.html" data-nav-match="awards">Awards</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="conferenceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-nav-match="conference">Conference</a>
            <ul class="dropdown-menu" aria-labelledby="conferenceDropdown">
              <li><a class="dropdown-item" href="/static/pages/conference-about.html" data-nav-match="conference-about">About</a></li>
              <li><a class="dropdown-item" href="/static/pages/conference-general-info.html" data-nav-match="conference-general-info">General Information</a></li>
              <li><a class="dropdown-item" href="/static/pages/conference-topics.html" data-nav-match="conference-topics">Conference Topics</a></li>
              <li><a class="dropdown-item" href="/static/pages/committee.html" data-nav-match="committee">Committee</a></li>
              <li><a class="dropdown-item" href="/static/pages/abstract-book.html" data-nav-match="abstract-book">Abstract Book</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/static/pages/speakers.html" data-nav-match="speakers">Speakers</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="programmeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-nav-match="programme">Programme</a>
            <ul class="dropdown-menu" aria-labelledby="programmeDropdown">
              <li><a class="dropdown-item" href="/static/pages/program-short.html" data-nav-match="program-short">At a Glance</a></li>
              <li><a class="dropdown-item" href="/static/pages/program-detailed.html" data-nav-match="program-detailed">Detailed</a></li>
              <li><a class="dropdown-item" href="/static/pages/program-social.html" data-nav-match="program-social">Social Program</a></li>
              <li><a class="dropdown-item" href="/static/pages/courses.html" data-nav-match="courses">Courses</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/static/pages/registration.html" data-nav-match="registration">Registration</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/static/pages/sponsorship.html" data-nav-match="sponsorship">Sponsorship</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/static/pages/venue.html" data-nav-match="venue">Location</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/static/pages/contact.html" data-nav-match="contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
