<section class="py-5">
  <div class="container main-content text-center">
    <img src="{{BASE}}assets/img/static/icerik_hazirlaniyor.png" alt="İçerik hazırlanıyor" class="img-fluid mb-4"
      loading="lazy" width="200px">
    <h1 class="fw-bold mb-3" style="color: rgba(47, 117, 179, 0.95);">İçerik hazırlanıyor...</h1>
    <p class="text-muted mb-4">Bu sayfanın içeriği en kısa sürede güncellenecektir.</p>
    <a class="btn btn-outline-secondary mt-2 hover-global text-blue-logo btn-bg" href="{{BASE}}index.html">Anasayfaya
      Dön</a>
    <a class="btn btn-outline-secondary mt-2 hover-global text-blue-logo btn-bg"
      href="{{BASE}}pages/contact.html">İletişime Geç</a>
  </div>
</section>